body {
  background: lavenderblush;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: lightpink;
  text-align: center;
  margin-top: 30px;
}

.projects h2 {
  text-align: left;
  margin-left: 60px;
  color: rgb(156, 35, 86);
}

.projects { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  gap: 30px;
  padding: 20px 50px;
}

.project {
  background: rgb(156, 35, 86);
  border-radius: 50px;
  color: white;
  width: 30%;
  min-width: 320px;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
  border-radius: 30px;
  border: 2px solid white;
  display: block;
  margin: 15px auto;
}

a {
  text-decoration: none;
  color: rgb(255, 240, 245);
}

.project p {
  text-align: center;
  margin: 15px;
  line-height: 1.4;
  font-size: 0.95rem;
}
